QuickBloodDonate/QBD/.gitattributes
QuickBloodDonate/QBD/.mvn/wrapper/maven-wrapper.properties
QuickBloodDonate/QBD/mvnw
QuickBloodDonate/QBD/mvnw.cmd
.idea/workspace.xml
QuickBloodDonate/.idea/misc.xml
QuickBloodDonate/.idea/vcs.xml
QuickBloodDonate/.idea/workspace.xml
QuickBloodDonate/.idea/misc.xml
QuickBloodDonate/.idea/misc.xml
